#password-container{
        /* text-align: center; */
        margin-left: 300px;
        margin-top: 70px;
        border-style:double;
        border-color:lightgray;
        width: 350px;
        height: 260px;
        border-radius: 9px;
        background-color: #00000008;
        
    }
    h3{
        margin-bottom: 30px;
        margin-left: 60px;
        color: black;
    }
    .submit{
        margin-top: 20px;
        border-style: none;
        padding: 7px 13px;
        border-radius: 5px;
         cursor: pointer;
      
    }
    #tbl-password-view{
        margin:auto;
    }
    .inputBox{
        height: 29px;
        border : solid 1px;
        border-radius: 5px;
        border-style: inset;
    }