#password-container{
        /* text-align: center; */
        margin-left: 400px;
        margin-top: 70px;
        border-style:double;
        border-color: ghostwhite;
        width: 440px;
        height: 210px;
        border-radius: 10px;
       background-color: #f8f8ff57;
        
    }
    h4{
        margin-bottom: 30px;
        margin-left: 110px;
        color: black;
    }
    .submit1{
        margin-top: 10px;
        border-style: none;
        padding: 7px 13px;
        border-radius: 5px;
        cursor: pointer;
        font-size: unset;
        font-weight: 600;
        background-color: #dcdcdc57;
         
      
    }
    #tbl-password-view{
        margin:auto;
    }
    .inputBox{
        height: 29px;
        border : solid 1px;
        border-radius: 5px;
        border-style: inset;
    }
 #leftbox{
    width: 155px;
    height: 380px;
    border: solid;
    border-radius:10px;
    float: left;
    /* margin-left: 150px; */
    text-align:right;
    padding-right:10px;
    padding-top:10px;
    border: none;
    background-color: rgb(128 128 128 / 12%);
    margin-top:20px;
    margin-left:10px;
 
}
#leftbox span{
    font-size:17px;
    font-weight: 600;
}
#leftbox span :hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: inherit;
}