@charset "UTF-8";
 h3{
 	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 	 color: gray;
 	 margin-left:10px;
 }
 th {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: gray;
    }
.inputBox{
    border-radius: 5px;
    width: 300px;
    height:25px;
    margin-bottom: 10px;
    margin-top:5px;
}
.submit{
    background-color: rgba(211, 211, 211, 0.479);
    border-style: none;
    font-size: 15px;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    
}
#box{
   margin-top: 20px;
   margin-bottom :150px;
} 