@charset "UTF-8";
h3{
   padding-left: 190px;
   }
 body{
    width: 1024px;
    margin: auto;
}

#leftbox{
    width: 155px;
    height: 380px;
    border: solid;
    border-radius:10px;
    float: left;
    /* margin-left: 150px; */
    text-align:right;
    padding-right:10px;
    padding-top:10px;
    /* size: 100px; */
    border: none;
    background-color: rgb(128 128 128 / 12%);
 
}
#leftbox span{
    font-size:17px;
    font-weight: 600;
}
#leftbox span :hover {
    text-decoration: underline;
}
 
table {
    border-collapse: collapse;
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_list_wrap {
    /* padding: 50px; */
    width: 950px;
    margin: auto;
    padding-left: 120px;
}

.board_list {
    width: 90%;
    border-top: 2px solid gray;
    margin: auto;
    height: 390px;
}

.board_list tr {
    border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td {
    padding: 10px;
    font-size: 16px;
}

.board_list td {
    text-align: center;
}


.board_list .tit:hover {
    text-decoration: underline;
}


.board_list_wrap .paging {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}
.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}
.board_list_wrap .paging a:first-child {
    margin-left: 0;
}

.board_list_wrap .paging a.bt {
    border: 1px solid #eee;
    background: #eee;
}

.board_list_wrap .paging a.num {
    border: 1px solid green;
    font-weight: 600;
    color: green;
}
#total{
        margin-top: 60px;
    }  
 #btn-add{
    background-color: rgba(211, 211, 211, 0.479);
    border-style: none;
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
}
#inputBox{
   margin-top: 20px;
   margin-left: 960px;
}     
/*페이지바*/
div#pageBar{margin-top:14px; text-align:center; font-size:19px; margin-left:70px;}
div#pageBar span.cPage{color: gray; margin-right: 5px;}
div#pageBar a{margin-right: 5px;}
      