@charset "UTF-8";
.info-wrapper{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
/*	border: 1px solid red;*/
}











.pop-contents{
	display: flex;
	margin: 50px, 0;
}
.pop-contents .info-wrap{
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid black;
	cursor: pointer;
	padding: 8px;
	border-radius: 5px;
	margin: 0 1px;
}
.pop-contents .info-wrap:hover{
	box-shadow: 0px 0px 5px lightsalmon;
}
.pop-contents .business-name{
	font-size: 1.3em;
	font-weight: bold;
}
.pop-contents .head-content{
	position: absolute;
	top:260px;
}
.pop-contents .list-thumbnail{
	width: 200px;
	height: 200px;
	object-fit: cover;
	transform: all 0.2s linear;
}
.pop-contents .recommend-count{
	display:inline;
	font-size:0.8em;
	opacity: 0.8;
}
.pop-contents .view-count{
	display:inline;
	font-size:0.8em;
	opacity: 0.8;
}
.pop-contents .popInfo-comment{
	display:inline;
	font-size:0.8em;
	opacity: 0.8;
}

#info-write{
	width: 90px;
	height: 30px;
	position: fixed;
	right: 80px;
	bottom: 100px;
}

.all-contents .info-wrap{
	position: relative;
	width: 600px;
	height: 230px;
	border: 1px solid black;
	cursor: pointer;
	padding: 20px;
	border-radius: 5px;
}
.all-contents .info-wrap:hover{
	box-shadow: 0px 0px 5px gray;
}
.all-contents .business-name{
	font-size: 1.3em;
	font-weight: bold;
}
.all-contents .head-content{
	position: absolute;
	left:300px;
	top: 70px;
}
.all-contents .list-thumbnail{
	width: 250px;
	height: 170px;
	object-fit: cover;
	margin: 8px, 0;
	overflow: hidden;
}
.all-contents .recommend-count{
	display:inline;
}
.all-contents .view-count{
	display:inline;
}
.all-contents .info-reg-date{
	position: absolute;
	float:right;
	font-weight: bold;
	opacity: 0.2;
	right: 10px;
	bottom: 10px;
}
.all-contents .info-comment-count{
	display:inline;
}

.hidden-code{
	display: none;
}

.select-contents{
	width: 1024px;
	height: 10px;
	position: relative;
	margin: 50px 0;
}
.select-contents .select-wrapper{
	position: absolute;
	right: 5px;
}
.select-contents #location{
	font-size: 0.95em;
	height: 30px;
	width: 80px;
	border: 0;
}
.select-contents .lining{
	font-size: 0.95em;
	height: 30px;
	width: 80px;
	border: 0;
}
