@charset "UTF-8";
.info-wrapper{
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid red;
}

.pop-contents{
	display: flex;
	margin: 50px, 0;
}
.pop-contents .info-wrap{
	width: 250px;
	height: 230px;
	border: 1px solid black;
	cursor: pointer;
}
.pop-contents .head-content{
	
}
.pop-contents .list-thumbnail{
	width: 150px;
	height: 150px;
	object-fit: cover;
}
.pop-contents .recommend-count{
	float: right;
}
.pop-contents .view-count{
}

#info-write{
	width: 90px;
	height: 30px;
	position: fixed;
	right: 80px;
	bottom: 100px;
}

.all-contents .info-wrap{
	width: 600px;
	height: 230px;
	border: 1px solid black;
	cursor: pointer;
}
.all-contents .head-content{
	float: right;
}
.all-contents .list-thumbnail{
	width: 150px;
	height: 150px;
	object-fit: cover;
}
.recommend-count{
}
.view-count{
}

.hidden-code{
	display: none;
}
