@charset "UTF-8";

input[type="file"]{
	display: none;
}
.reviewPictures{
	width: 200px;
	height: 200px;
}

.reviewPicPre{
	width: 200px;
	height: 200px;
}

.info-review{
	border: 1px solid linen;
	width: 800px;
	margin: 20px;
	padding: 10px;
	cursor: pointer;
}
.info-review:hover{
	box-shadow: 0 0 10px linen;
}

input[type="checkbox"]{
	display:none;
}
input[type="checkbox"] + label{
	display:inline-block;
	position: fixed;
	width:20px;
	height:20px;
	right: 165px;
	bottom: 250px;
}
input[type="checkbox"]:not(:checked) + label{
	background:url("../../images/info/빈하트.png") center/contain no-repeat;
}
input[type="checkbox"]:checked + label{
	background:url("../../images/info/찬하트.png") center/contain no-repeat;
}
input[type="checkbox"]:disabled + label{
	background:url("../../images/info/회하트.png") center/contain no-repeat;
}


.info-view-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info-head-wrapper{
	position: relative;
	width: 1024px;
	height: 500px;
}
.left-side{
	position: absolute;
	
}
.right-side{
	position: absolute;
	left: 410px;
	top: 70px;
}
.info-body-wrapper{
}
.info-review-wrapper{
}

.review-reg-date{
	font-size: 0.8em;
	opacity: 0.7;
	font-weight: bold;	
	margin: 5px 0;
}

.reviewPreviewBox{
	margin: 5px;
}

.input-file-button{
	cursor: pointer;
	padding: 6px 25px;
	background-color: lightsalmon;
	border-radius: 5px;
	color: white;
}
.input-file-button:hover{
	box-shadow: 0 0 5px gray;
}


input[name="headContent"]{
	width: 500px;
	height: 35px;
	font-size: 1.3em;
	font-weight: bold;
	margin: 10px 0;
}

.review-enroll-btn{
	margin: 10px 0;
}
.review-enroll-btn:hover{
	background-color: lightsalmon;
}

.report-btn:hover{
	background-color: red;
}

.delete-btn:hover{
	background-color: lightblue;
}

input[name="mHead"]{
	width: 500px;
	height: 35px;
	font-size: 1.3em;
	font-weight: bold;
	margin:10px 0;
}


