@charset "UTF-8";

/*게시물 작성 부분*/
.write {
	white-space:nowrap;
}

/*게시물부분*/
#tbl-board-view {
	width:100%;
	
}
.board-view-writer {
	float:right;
}
.board-view-writer td {
	padding-bottom:50px;
}
.board-view-title{
	text-align:center;	
}
.board-view-title td{
	padding-top:50px;
	padding-bottom:50px;
	font-size:200%;
}
.delete-or-update {
	float:right;
}
.board-view-attachment {
	float:left;
} 
.board-view-attachment a {
	text-decoration:none;
	color:black;
}
.board-view-content {
	text-align:center;
	width:50%;
}
.board-view-content td {
	border-top:1px solid #b3b3b3;
	padding-top:50px;
	padding-bottom:50px;
}

:root {
  --button-color: #212529;
  --button-bg-color: #ffc107;
  --delete-button-color: white;
  --delete-button-bg-color: gray;
  --button-hover-bg-color: #e0a800;
} 
 .board-btn {
  background: var(--button-bg-color);
  color: var(--button-color);
 }
 .board-comment-btn{
background:#fff7cc;
 }
 .delete-or-update-btn{
	background: white;
  color: black;
}

 .board-comment-btn, .board-btn,.btn-comment-enroll2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  
  margin: 0;
  padding: 0.5rem 1rem;
  
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 4px;
  
  display: inline-block;
  width: auto;
  
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s; 
  
} 

/* 댓글 관련 버튼*/

.board-btn:active,
.board-btn:hover,
.board-btn:focus,
.board-comment-btn:active,
.board-comment-btn:hover,
.board-comment-btn:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
.delete-or-update-btn:active,
.delete-or-update-btn:hover,
.delete-or-update-btn:focus{
  background: gray;
  color:white;
  outline: 0;
}
.board-btn:disabled,
.board-comment-btn:disabled  {
  opacity: 0.5;
}
.comment-submit ,.btn-comment-enroll2{
	
	transform:translateY(-22px);
	  background: var(--button-bg-color);
  color: var(--button-color);
}
/* 댓글 개수 색깔 */
	.comment-count {
	color:#ff9800;
	}
/* 한 주의 인기 게시물 */	
	#popularList, #otherList{
	text-align:center;
	}
/* 페이지바 */
	.board-pageBar {
		text-align:center;
		margin-left:10px;
		margin-top:20px;
		margin-bottom:20px;
	}
	.board-pageBar a, .pageBar span {
		margin-left:10px;
	}
	.board-pageBar a:hover{
		cursor:pointer;
	}
	.board-pageBar span {
		margin-left:10px;
		color : #ff9800;
	}
/* 게시물 목록 전체 */	
  .board-list-table {
  white-space:nowrap;
    margin-left:auto; 
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    
    width: 80%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    text-align:center;
  }
  .board-list-table th {
    border-bottom: 1px solid #444444;
    padding: 18px;
  }
  .board-list-table td {
  	border-bottom: 1px solid #d1d1d1;
    padding: 18px;
  }
  

  .board-list-table a {
  	color:black;
  	text-decoration : none;
  }
  #tbl-board-view {
  margin-left:auto;
  margin-right:auto;
  }
  
  /* 댓글 */
  .comment-editor {
  transform: translateX(100px);
  }
  .board-comment, #comment-editor {
  margin-left:auto;
  margin-right:auto;
  }
  .comment-content {
 	width:300px;
  }
  .level2 {
  	transform: translateX(90px);
  }
  .level2, .level1 {
	height : 50px;	
}
.comment-content, .comment-btns{
	border-bottom:1px solid black;
}
.comment-writer{
	padding-right:10px;
	font-size:110%;
	font-weight:bold;
}
  
  /*작성자의 다른 게시글*/
  #otherList {
 	margin-top:170px;
  }
  
  .board-select {
  width:200px;
  }
  
/* 조건 선택 기능 */
.select-container {margin-top:20px; margin-bottom:20px; float:right; margin-right:6.2vw;}
select { appearance: none; -webkit-appearance: none; text-align:center; width:100px; }
select::-ms-expand { display:none; }
