@charset "UTF-8";
/* :root {
  --button-color: #212529;
  --button-bg-color: #ffc107;
  --button-hover-bg-color: #e0a800;
}
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: var(--button-bg-color);
  color: var(--button-color);
  
  margin: 0;
  padding: 0.5rem 1rem;
  
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 4px;
  
  display: inline-block;
  width: auto;
  
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s;
}

.btn:active,
.btn:hover,
.btn:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
.btn:disabled {
  opacity: 0.5;
} */

/* 한 주의 인기 게시물 */	
	h2{
	text-align:center;
	}
/* 페이지바 */
	.pageBar {
		text-align:center;
		margin-left:10px;
		margin-top:20px;
		margin-bottom:20px;
	}
	.pageBar a, .pageBar span {
		margin-left:10px;
	}
	.pageBar a:hover{
		cursor:pointer;
	}
	.pageBar span {
		color : #ff9800;
	}
/* 게시물 목록 전체 */	
  table {
    margin-left:auto; 
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    
    width: 80%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    text-align:center;
  }
  th {
    border-bottom: 1px solid #444444;
    padding: 18px;
  }
  td {
  	border-bottom: 1px solid #d1d1d1;
    padding: 18px;
  }
  

  a {
  	color:black;
  	text-decoration : none;
  }
  
/* 조건 선택 기능 */
 /*  .select-container {
	text-align:right;
	margin-right:8vw;
	margin-top:20px;
	margin-bottom:20px;
	border-color : white;
} */
select { -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; /* 화살표 모양의 이미지 */ }
select::-ms-expand { display: none; }
select { width: 100%; padding: .8em .5em; font-family: inherit; background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; border: 1px solid #999; border-radius: 0px; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.select-container { position: relative; width: 80px; border: 1px solid #999; z-index: 1; } .selectbox:before { content: ""; position: absolute; top: 50%; right: 15px; width: 0; height: 0; margin-top: -1px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #333; } .selectbox label { position: absolute; top: 1px; left: 5px; padding: .8em .5em; color: #999; z-index: -1;} .selectbox select { width: 100%; height: auto; line-height: normal; font-family: inherit; padding: .8em .5em; border: 0; opacity: 0; filter:alpha(opacity=0); -webkit-appearance: none; -moz-appearance: none; appearance: none; }


