@charset "UTF-8";

/* .heart {
	width: 97px;
    height: 104px;
    position: absolute;
    left: 49%;
    top: 47%;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    animation: fave-heart 1s steps(28);
}
.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
} */
/* theadC : #fab90126 */

h1 {
	text-align: center;
}
/* navBar */
#myPage-container {
    width: 155px;
    height: 600px;
    border-radius:10px;
    text-align:right;
    float: left;
    padding-right:10px;
    padding-top:10px;
    border: none;
    background-color: rgb(250 215 1);
 
}
#myPage-container li {
    font-size:17px;
    font-weight: 600;
    list-style: none;
    height: 40px;
}
#myPage-container li :hover {
	color: black;
    background-color: #fff19c;
    border-radius: 4px;
}
#myPage-container a {
	color: white;
    text-decoration-line: none;
}
form {
	display: flex;
	justify-content: center;
}
#form-button {
	display: flex;
	justify-content: center;
	padding: 25px;
}
#send{
	background-color: #fad701;
    border: aliceblue;
    padding: 6px;
    border-radius: 10%;
    margin: 2px;
}
#send:hover{
	background-color: #fff;
	cursor: pointer;
}
#memberUpdate-container, #businessUpdate-container {
	padding-top: 90px;
	padding-bottom: 160px;
	background-image: url("../../images/myPage/paint.png");
	background-position: top;
 	background-color: #cccccc;
}
#pageBar {
	display: flex;
    justify-content: center;
    margin: 10px;
}
#pageBar span{
	cursor: pointer;
}
#pageBar a{
	margin: 5px;
	cursor: pointer;
}