@charset "UTF-8";

/* 조회 영역 */
#pdtSearchOption {
	text-align: center;
}

#pdtSearchTable{
	border : 1px solid white;
	border-radius: 30px;
	width: 40%;
	height: 120px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #dfebed;
	text-align:center;
	margin:auto;
	display: none;
	position:fix;
}

#optionBtn {
	background-color: white;
	border-radius: 50%;
	border : 1px solid #dfebed;
	height: 70px;
	width : 70px;
	cursor : pointer;
}

#pdtSearchTable td {
	width:140px;
}

#pdtSearchTable td:nth-child(2){
	width:50px;
}
#pdtSearchTable td:nth-child(3){
	width:50px;
}

#divSelect{
	float:left;
}
#selectOnSale{
	float:left;
}

#searchOptionBtn {
	background-color: #e3e3e3;
	border:none;
}





/* 리스트 영역 */

#pdtTable {
	border: white;
	border-radius: 5%;
	width:100%;
	margin-top: 10px;
}
#pdtTable th{
	height: 30px;
	background-color: #efefec;	
}
#pdtTable th:nth-child(1){
	background-color: white;
}
#pdtTable td{
	height: 50px;
	text-align:center;
}
#pdtTable td, th{
	border-bottom: 1px solid #ebebe6;
}
#pdtTable a, a:visited{
	text-decoration:none;
	color:black;
}
#pdtTable a:hover{
	background-color: #d4d7ab;
}


/* 페이지바 */
.pageBar{
	margin-top:15px;
	margin-bottom: 20px;
	text-align:center;
	width:100%;
}
.pageBar a {
	padding:10px;
	cursor: pointer;
}
.cPage {
	text-decoration: underline;
	background-color: #f7fbc6;
}

