@charset "UTF-8";

/* 조회 영역 */
#pdtSearchOption {
	text-align: center;
}

#pdtSearchTable{
	border : 1px solid white;
	border-radius: 30px;
	width: 55%;
	height: 120px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #dfebed;
	text-align:center;
	margin:auto;
	display: none;
	position:fix;
}

#optionBtn {
	background-color: white;
	border-radius: 50%;
	border : 1px solid #dfebed;
	height: 70px;
	width : 70px;
	cursor : pointer;
}

#pdtSearchTable td {
	width:140px;
}

#divSelect{
	float:left;
}
#selectOnSale{
	float:left;
}

#searchOptionBtn {
	background-color: #e3e3e3;
	border:none;
}



/* 리스트 영역 */

#pdtTable {
	border: 1px solid black;
	border-radius: 15%;
	border-collapse: collapse;
	width:100%;
	margin-top: 10px;
}
#pdtTable td, th{
	border: 1px solid black;
}

